{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <nav class="af-nav">
      <a class="af-nav-brand" href="{{ base_path }}/">{{ site.title }}</a>
      <div class="af-nav-links">
        {% for link in site.data.navigation.main %}
          {% if link.url contains 'http' %}
            {% assign domain = '' %}
          {% else %}
            {% assign domain = base_path %}
          {% endif %}
          <a href="{{ domain }}{{ link.url }}">{{ link.title }}</a>
        {% endfor %}
        <a id="theme-toggle" role="button" aria-label="toggle theme"><i id="theme-icon" class="fa-solid fa-sun" aria-hidden="true"></i></a>
      </div>
    </nav>
  </div>
</div>
